html, body {
    background: #E5E5E5;
}

body a {
    font-size: 11px;
    color: #A6AFB8;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    background: #F2F6FA;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex: 0;
}

.row-flex > div[class*='col-'] {
    margin: -.2px;
}

.vert {
    height: 40px;
    display: flex;
    align-items: center;
}

.vert p {
    margin: 0;
}

div#tab {
    width: auto;
}

div#tab table {
    margin: 0px 0;
    border-collapse: collapse;
    width: 100%;
}

div#tab table td, div#tab table th {
    border-bottom: 1px solid #6E6E6F;
    padding: 20px 30px;
    text-align: left;
}

div#tab table thead tr {
    vertical-align: middle;
    text-decoration: none;
    text-align: left;
    border: none;
}

.popup__overlay {
    position: absolute;
    left: 0%;
    top: -35%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: table;
    z-index: 1001;
    text-align: center;
    display: none;
    opacity: 0;
}

.popup__overlay:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''
}

.popup {
    display: inline-block;
    position: relative;
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #088789;
    background: #fff;
    vertical-align: middle;
    background: #DCA3A3 none repeat scroll 0 0;
    height: 80px;
}

.popup__close {
    display: block;
    position: absolute;
    top: -18px;
    right: 10px;
    width: 12px;
    height: 12px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    background: #088789;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    box-sizing: content-box !important;
}

.popup__close:hover {
    background: #ff6600;

}

.popup__dialog-text {
    font-size: 16px;
    color: #ffff38;
    margin: 0;
    text-transform: uppercase;
}

.popup p {
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.block {
    background: #0FC5FF;
    border: 1px solid #0FC5FF;
}

div#atrib {
    width: auto;
}

div#atrib table {
    margin: 0px 0;
    border-collapse: collapse;
    width: 100%;
}

div#atrib table td, div#atrib table th {
    padding: 5px 5px;
    text-align: left;
}

div#atrib table thead tr {
    vertical-align: middle;
    text-decoration: none;
    text-align: left;
    border: none;
}

.smoke-dialog {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    color: #202020;
    border: 1px solid #B6B6B6;
    border-radius: 28px;
    background-color: #f3f3f3;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
}

.smoke-dialog-buttons {
    vertical-align: middle;
    margin-top: 10px;
}

.smoke-dialog-buttons-ok, .smoke-dialog-buttons-cancel {
    margin: 0 7px;
    padding: 8px 24px;
    border: 0;
    border-radius: 7px;
    outline: 0;
    color: white;
    background: #00BD20;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 18px;
    vertical-align: baseline;
    display: inline-block;
    cursor: pointer;
}

.smoke-dialog-buttons-ok:hover, .smoke-dialog-buttons-cancel:hover {
    background: #222;
}

.smoke-prompt {
    margin-top: 15px;
    text-align: center;
}

.smoke-prompt-input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    margin: 0;
    padding: 11.2px;
    border: 1.4px solid #aaa;
    outline: none;
    font-family: arial;
    font-size: 22.4px;
    background-color: white;
    display: inline-block;
}

.smoke-dialog-buttons-cancel {
    background-color: rgba(0, 0, 0, .40);
}




